<div class="menu">
        <button class="boton"> Inicio </button>
        <button class="boton"> Registro </button>
        <button class="boton"> Login </button>
        <button class="boton"> Contacto </button>
</div>
